@media(max-width:600px){

    body{padding: 0.6rem;}

    .conteiner{
        width: 100%;
        height: 420px;
    }
    

    .conteiner input ,.tip{
        width:100%;
        padding:0.8rem;
    }

    .conteiner .main-page label{width:0;}

}